.login-container {
  background: #111827;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.login-container h2 {
  color: white;
  text-align: center;
  margin-bottom: 20px;

  font-size: 28px;   /* 🔥 size increase */
}

/* 🔥 MAIN FIX */
.login-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;

  background: white;
  color: black;

  border-radius: 5px;
  border: none;
}
.login-container button {
  width: 100%;
  padding: 10px;
  background: #38bdf8;
  color: white;

  border: none;
  border-radius: 5px;
}
.login-container {
  background: #0f172a;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
.login-container form {
  background: #1e293b;
  padding: 30px;
  border-radius: 10px;

  width: 100%;
  max-width: 400px;   /* 🔥 ye important hai */
}